<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Faça login em sua conta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email:" formControlName="email">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Senha:" formControlName="password">
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!addressForm.valid" color="primary" type="submit" class="">Entrar na conta</button>
    </mat-card-actions>
  </mat-card>
</form>
